/* Master Styles */
body { 
    margin-top: 66px !important;
    padding-top: 0 !important;
    background: url(./images/mahdi-soheili-m-jJ4wLjoIc-unsplash.jpeg); 
    background-size: 100%;
}

.conatainer{ 
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
}

.portfolio-items-wrapper{ 
    margin-left: 0;
}


/* Nav Styles */
.nav-wrapper { 
    display: flex;
    justify-content: space-between;
    padding: 36px;
}

.left-side{ 
    display: flex;
}

.nav-wrapper > .left-side > div { 
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{ 
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a { /* insinde nav link wrapper grab a link */
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover { /* pseudo state */
    border-bottom: 1px solid;
}

.nav-link-wrapper a:hover { /* pseudo state */
    color: black; 
}

/* *************************************************** */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


h1 { 
    margin-left: 2%;
    margin-right: 2%;    
    color: black ;
    font-family: roboto;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}


h2 { 
    margin-left: 2%;
    margin-right: 2%;    
    color: black ;
    font-family: roboto;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}


h3 { 
    margin-left: 2%;
    margin-right: 2%;    
    color: black ;
    font-family: roboto;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}


h4 { 
    margin-left: 2%;
    margin-right: 2%;    
    color: black ;
    font-family: roboto;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}


h5 { 
    margin-left: 2%;
    margin-right: 2%;    
    color: black ;
    font-family: roboto;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}


h6 { 
    margin-left: 2%;
    margin-right: 2%;    
    color: black ;
    font-family: roboto;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}